body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

.game-body {
  background: url(../images/bg_PC.jpg) no-repeat center top;
  min-height: 100vh;
  background-size: cover;
  display: block;
  margin: auto;
  position: relative;
  padding-right: 40%; }
  .game-body .body-vongquay {
    position: fixed;
    width: 100%;
    top: -30px;
    left: 0;
    display: flex;
    align-items: flex-end;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out; }
    .game-body .body-vongquay .box-vongquay {
      width: 860px;
      margin: auto;
      position: relative; }
      .game-body .body-vongquay .box-vongquay .vongquay {
        position: absolute;
        width: 600px;
        height: 600px;
        top: 390px;
        left: 50px;
        z-index: 99; }
      .game-body .body-vongquay .box-vongquay .devongquay {
        position: absolute;
        top: 754px;
        left: 85px; }
  .game-body .chitietchuongtrinh-PC {
    position: absolute;
    right: 0;
    top: 100px;
    width: 40%; }
    .game-body .chitietchuongtrinh-PC img {
      width: 100%; }
  .game-body .chitietchuongtrinh-mb {
    display: none; }
  .game-body .modal-dialog {
    max-width: 700px;
    margin: 15px auto; }
    .game-body .modal-dialog .bg-popup {
      position: relative;
      display: block; }
    .game-body .modal-dialog .bg-popup-mb {
      position: relative;
      display: none; }
    .game-body .modal-dialog .form-game {
      position: absolute;
      bottom: 150px;
      left: 0;
      width: 100%;
      padding: 0 120px; }
      .game-body .modal-dialog .form-game .box-home {
        position: relative;
        bottom: -60px;
        width: 100%;
        height: 264px;
        border-radius: 40px;
        background-image: linear-gradient(to right top, #242b7f, #252f91, #2634a4, #2738b7, #283cca); }
      .game-body .modal-dialog .form-game .content-form-client {
        display: inline-block;
        padding: 30px;
        background-size: cover;
        width: 100%;
        margin-top: -150px;
        position: relative; }
        .game-body .modal-dialog .form-game .content-form-client form {
          display: inline-block;
          width: 100%;
          position: absolute;
          left: 5px;
          padding: 10px 30px;
          bottom: -57px; }
          .game-body .modal-dialog .form-game .content-form-client form .form-group .form-control {
            height: 50px;
            width: 100%;
            border-radius: 20px;
            font-size: 16px;
            padding: 5px 20px;
            background: #e5e5f5;
            border: 1px solid #008bb9;
            color: #0e527d;
            text-transform: uppercase;
            font-weight: 500;
            font-style: italic; }
          .game-body .modal-dialog .form-game .content-form-client form .btn-action {
            display: inline-block;
            width: 100%;
            text-align: center;
            margin-bottom: -32px;
            margin-top: 0; }

/* Responsive */
@media screen and (min-device-width: 1550px) and (max-device-width: 1750px) {
  body {
    overflow: hidden; }

  .game-body .body-vongquay {
    display: inline-block !important;
    position: fixed;
    width: 100%;
    top: initial !important;
    bottom: 0;
    height: 100%; }
    .game-body .body-vongquay .box-vongquay {
      width: 420px;
      height: 100%; }
      .game-body .body-vongquay .box-vongquay .vongquay {
        position: absolute;
        width: 100%;
        height: initial;
        top: initial;
        left: -78px;
        z-index: 99;
        bottom: 90px; }
        .game-body .body-vongquay .box-vongquay .vongquay img {
          width: 100%; }
      .game-body .body-vongquay .box-vongquay .devongquay {
        position: absolute;
        top: initial;
        left: -91px;
        bottom: -70px; }
  .game-body .chitietchuongtrinh-PC {
    top: 20px; } }
@media screen and (min-device-width: 1332px) and (max-device-width: 1540px) {
  body {
    overflow: hidden; }

  .game-body .body-vongquay {
    display: inline-block !important;
    position: fixed;
    width: 100%;
    top: initial !important;
    bottom: 0;
    height: 100%; }
    .game-body .body-vongquay .box-vongquay {
      width: 330px;
      height: 100%; }
      .game-body .body-vongquay .box-vongquay .vongquay {
        position: absolute;
        width: 100%;
        height: initial;
        top: initial;
        left: -98px;
        z-index: 99;
        bottom: 90px; }
        .game-body .body-vongquay .box-vongquay .vongquay img {
          width: 100%; }
      .game-body .body-vongquay .box-vongquay .devongquay {
        position: absolute;
        top: initial;
        left: -158px;
        bottom: -70px; }
  .game-body .chitietchuongtrinh-PC {
    top: 20px; }
  .game-body .modal-dialog {
    max-width: 600px; }
    .game-body .modal-dialog .form-game {
      position: absolute;
      bottom: 130px;
      left: 0;
      width: 100%;
      padding: 0 70px; }
      .game-body .modal-dialog .form-game .box-home {
        bottom: -40px;
        height: 245px; }
      .game-body .modal-dialog .form-game .content-form-client {
        bottom: 20px; }
        .game-body .modal-dialog .form-game .content-form-client form {
          display: inline-block;
          width: 100%;
          position: absolute;
          left: 5px;
          padding: 10px 30px;
          bottom: -57px; }
          .game-body .modal-dialog .form-game .content-form-client form .form-group .form-control {
            height: 45px;
            font-size: 14px; } }
@media only screen and (min-width: 1500px) {
  body {
    overflow: hidden; } }
@media only screen and (max-width: 1250px) {
  body {
    background-image: linear-gradient(to right bottom, #293fcb, #2b3cbf, #2c3ab3, #2d37a8, #2d359c, #2c3495, #2c328f, #2b3188, #293085, #272e81, #262d7e, #242c7b); }

  .game-body {
    background: url(../images/bg_mb2.jpg) no-repeat center top;
    background-size: cover;
    height: 100%;
    padding-right: 0;
    margin: 0 auto;
    max-width: 700px; }
    .game-body .body-vongquay {
      position: absolute;
      width: 100%;
      top: 85px; }
      .game-body .body-vongquay .box-vongquay {
        margin: 0 auto;
        text-align: center; }
        .game-body .body-vongquay .box-vongquay .vongquay {
          top: 50px;
          height: auto;
          width: 80%;
          bottom: 0;
          top: 350px;
          left: 0;
          right: 0;
          margin: 0 auto; }
          .game-body .body-vongquay .box-vongquay .vongquay img {
            max-height: 500px;
            max-width: 500px; }
        .game-body .body-vongquay .box-vongquay .devongquay {
          width: 100%;
          left: 0;
          right: 0;
          margin: 0 auto;
          top: 674px; }
    .game-body .chitietchuongtrinh-PC {
      display: none; }
    .game-body .chitietchuongtrinh-mb {
      display: block;
      padding-top: 180%;
      text-align: center;
      padding-bottom: 5%; }
      .game-body .chitietchuongtrinh-mb img {
        width: 80%; } }
@media only screen and (max-width: 500px) {
  body {
    background-image: linear-gradient(to right bottom, #293fcb, #2b3cbf, #2c3ab3, #2d37a8, #2d359c, #2c3495, #2c328f, #2b3188, #293085, #272e81, #262d7e, #242c7b); }

  .game-body .body-vongquay {
    top: 170px; }
    .game-body .body-vongquay .box-vongquay {
      margin: 25px 0;
      text-align: center; }
      .game-body .body-vongquay .box-vongquay .vongquay {
        top: 50px;
        height: auto;
        width: 80%;
        text-align: center; }
        .game-body .body-vongquay .box-vongquay .vongquay img {
          width: 100%; }
      .game-body .body-vongquay .box-vongquay .devongquay {
        width: 100%;
        top: 228px;
        left: 0;
        right: 0;
        margin: 0 auto; }
  .game-body .chitietchuongtrinh-PC {
    display: none; }
  .game-body .chitietchuongtrinh-mb {
    display: block;
    padding-top: 182%;
    text-align: center;
    padding-bottom: 5%; }
    .game-body .chitietchuongtrinh-mb img {
      width: 90%; }
  .game-body .modal-dialog {
    max-width: 700px; }
    .game-body .modal-dialog .modal-body {
      padding: 0; }
      .game-body .modal-dialog .modal-body .bg-popup {
        position: relative;
        display: none; }
      .game-body .modal-dialog .modal-body .bg-popup-mb {
        position: relative;
        display: block; }
      .game-body .modal-dialog .modal-body .form-game {
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
        padding: 0 30px; }
        .game-body .modal-dialog .modal-body .form-game .box-home {
          left: 0;
          position: initial;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 264px;
          border-radius: 40px;
          background-image: linear-gradient(to right top, #242b7f, #252f91, #2634a4, #2738b7, #283cca); }
        .game-body .modal-dialog .modal-body .form-game .content-form-client {
          left: 0px;
          padding: 10px 20px; }
          .game-body .modal-dialog .modal-body .form-game .content-form-client form {
            left: 0;
            padding: 10px 15px;
            bottom: -48px;
            left: 0;
            padding: 10px 15px;
            bottom: 0; }
            .game-body .modal-dialog .modal-body .form-game .content-form-client form .btn-action {
              display: inline-block;
              width: 100%;
              text-align: center;
              margin-bottom: -32px;
              margin-top: 0; }
              .game-body .modal-dialog .modal-body .form-game .content-form-client form .btn-action img {
                width: 80%; } }

/*# sourceMappingURL=style.css.map */
